@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 120 50% 97%;
    --foreground: 240 10% 3.9%;
    --card: 120 50% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 50% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 60% 35%;
    --primary-foreground: 120 25% 98%;
    --secondary: 120 20% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 120 20% 94%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 88 70% 70%;
    --accent-foreground: 88 50% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 88%;
    --input: 120 20% 92%;
    --ring: 120 60% 35%;
    --chart-1: 120 70% 50%;
    --chart-2: 88 60% 50%;
    --chart-3: 45 75% 55%;
    --chart-4: 30 80% 55%;
    --chart-5: 0 70% 60%;
    --radius: 0.5rem;

    --sidebar-background: 120 30% 94%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 120 60% 35%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 120 50% 97%;
    --sidebar-accent-foreground: 120 60% 35%;
    --sidebar-border: 120 20% 88%;
    --sidebar-ring: 120 60% 35%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 73% 75%;
    --primary-foreground: 120 60% 15%;
    --secondary: 120 15% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 15% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 88 70% 70%;
    --accent-foreground: 88 50% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 15% 20%;
    --input: 120 15% 20%;
    --ring: 120 73% 75%;
    --chart-1: 120 70% 50%;
    --chart-2: 88 60% 50%;
    --chart-3: 45 75% 55%;
    --chart-4: 30 80% 55%;
    --chart-5: 0 70% 60%;
    
    --sidebar-background: 120 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 73% 75%;
    --sidebar-primary-foreground: 120 60% 15%;
    --sidebar-accent: 120 15% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 120 15% 25%;
    --sidebar-ring: 120 73% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
