@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 20% 98%;
    --foreground: 142.1 76.2% 10.3%;
 
    --card: 130 20% 98%;
    --card-foreground: 142.1 76.2% 10.3%;
 
    --popover: 130 20% 98%;
    --popover-foreground: 142.1 76.2% 10.3%;
 
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 142.1 76.2% 96.3%;
 
    --secondary: 142.1 10% 94.1%;
    --secondary-foreground: 142.1 76.2% 20.3%;
 
    --muted: 142.1 10% 94.1%;
    --muted-foreground: 142.1 16.3% 46.9%;
 
    --accent: 170 60% 45%;
    --accent-foreground: 170 80% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 142.1 20.8% 87.4%;
    --input: 142.1 20.8% 87.4%;
    --ring: 142.1 76.2% 36.3%;
 
    --radius: 0.5rem;

    --chart-1: hsl(142.1 76.2% 36.3%);
    --chart-2: hsl(150 70% 40%);
    --chart-3: hsl(160 65% 45%);

    --sidebar-background: hsl(140, 5%, 95%);
    --sidebar-foreground: hsl(142.1, 76.2%, 15.3%);
    --sidebar-border: hsl(140, 5%, 85%);
    --sidebar-accent: hsl(142.1, 10%, 89.1%);
    --sidebar-accent-foreground: hsl(142.1, 76.2%, 10.3%);
    --sidebar-ring: hsl(142.1, 76.2%, 36.3%);
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 142.1 76.2% 96.3%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 170 60% 45%;
    --accent-foreground: 170 80% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.1 76.2% 36.3%;

    --chart-1: hsl(142.1 76.2% 36.3%);
    --chart-2: hsl(150 70% 40%);
    --chart-3: hsl(160 65% 45%);

    --sidebar-background: hsl(240 4% 9%);
    --sidebar-foreground: hsl(0 0% 98%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(0 0% 98%);
    --sidebar-ring: hsl(142.1, 76.2%, 36.3%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
